<footer class="container-fluid bg-primary text-white text-center py-3">
    <p>&copy; 2024 The Divine Crustacean</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#"><img src="/images/instagram.png" alt="instagram" class="footer-icon"></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><img src="/images/twitter.png" alt="Twitter" class="footer-icon"></a>
        </li>
    </ul>
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>
