<header class="container-fluid bg-primary text-white text-center py-3">
    <a href="/"><img src="/images/logo3.png" alt="logo" class="logo"></a>
    <p class="logo-text">Connecting Crustacean Enthusiasts Worldwide</p>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-md">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/events/new">Create a New Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">Welcome, <%= user.firstName %></span>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
